<p-toast></p-toast>

<div class="multi-search-bar-container">
 
  <select id="searchTerm1" class="large-dropdown custom-dropdown" [(ngModel)]="searchTerm1">
      <option value="" disabled selected>Départ</option>
      <option *ngFor="let city of cities" [value]="city">{{city}}</option>
  </select>

  <select id="searchTerm2" class="large-dropdown custom-dropdown" [(ngModel)]="searchTerm2">
      <option value="" disabled selected>Destination</option>
      <option *ngFor="let city of cities" [value]="city">{{city}}</option>
  </select>
  
  <p-button label="Rechercher" [loading]="loading" (onClick)="onSearch()"></p-button>  
</div>
<div *ngIf="!showTable" class="background">
</div>
<div class="card" *ngIf="showTable">
  <p-table #dt [value]="annonces" [rows]="20" [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[5, 10, 20]" [loading]="loading" [paginator]="true"
           currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} annonces"
           [globalFilterFields]="['depart', 'destination', 'date', 'heureDepart', 'placesDisponibles']"
           [tableStyle]="{ 'min-width': '75rem'}">
      
      <ng-template pTemplate="header">
          <tr>
              <th style="width:12%">Départ</th>
              <th style="width:12%">Destination</th>
              <th style="width:12%">Date</th>
              <th style="width:12%">Heure</th>
              <th style="width:12%">Places disponibles</th>
              <th style="width:12%">Actions</th>

          </tr>
          
      </ng-template>
      <ng-template pTemplate="body" let-annonce >
          <tr>
              <td>
                  {{ annonce.depart }}
              </td>
              <td>
                  {{ annonce.destination }}
              </td>
              <td>
                  {{ annonce.date | date:'yyyy-MM-dd ' }}
                
              </td>
              <td>
                  {{ annonce.heureDepart }}
              </td>
              <td
                [ngClass]="{'outofstock': annonce.placesDisponibles === 0,'instock': annonce.placesDisponibles> 0}">
                {{annonce.placesDisponibles}}
              </td>
              <td>
                <p-button label="Réserver" severity="success"(onClick)="reserver(annonce)" class=""></p-button>&nbsp;&nbsp;
                <p-button label="Détails"  (onClick)="showAnnonceDetails(annonce)"></p-button>
                
                
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="5">Pas d'annonces trouvées.</td>
          </tr>
      </ng-template>
  </p-table>
</div>
<p-dialog [(visible)]="annonceDialog" header="Détails de l'annonce" [modal]="true" [style]="{ width: '500px' }">
  
    <ng-template pTemplate="content">
      <div *ngIf="annonceDetails">
        <p class="titre"><span>Nom du conducteur:</span> {{ annonceDetails.conducteur.nom }}</p>
      
        <p class="titre"><span>Téléphone:</span> {{ annonceDetails.conducteur.telephone }}</p>
       
        <p class="titre"><span>Véhicule:</span> {{ annonceDetails.conducteur.vehicule }}</p>
   
        <p class="titre"><span>Prix:</span> {{ annonceDetails.conducteur.prix }}</p>
    
        <p class="titre"><span>Climatisation:</span> {{ annonceDetails.conducteur.climatisation}}</p>
   
        <p class="titre"><span>Bagage: </span>{{ annonceDetails.conducteur.bagage }}</p>
    
        <p class="titre"><span>Fumeur:</span>  {{ annonceDetails.conducteur.fumeur }}</p>
    
        <p class="titre"><span>Sexe: </span>{{ annonceDetails.conducteur.sexe}}</p>
        
        
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton label="Fermer" (click)="hideAnnonceDialog()"></button>
    </ng-template>
  </p-dialog>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
 

