<router-outlet></router-outlet>
<div class="background">
  <div class="back">
<form [formGroup]="formAnnonce" (ngSubmit)="saveAnnonce()">
  <h1 *ngIf="!annonceId">Créer une nouvelle annonce de covoiturage</h1>
  <h1 *ngIf="annonceId">Modifier annonce de covoiturage</h1>
  <div class="form-row">
    <mat-form-field class="example-full-width">
      <mat-label>Départ:</mat-label>
      <select matNativeControl id="searchTerm1" class="large-dropdown custom-dropdown" formControlName="depart"
        required>
        <option value="" disabled selected>Départ</option>
        <option *ngFor="let city of cities" [value]="city">{{city}}</option>
      </select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Destination:</mat-label>
      <select matNativeControl id="searchTerm2" class="large-dropdown custom-dropdown" formControlName="destination"
        required>
        <option value="" disabled selected>Destination</option>
        <option *ngFor="let city of cities" [value]="city">{{city}}</option>
      </select>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field class="example-full-width">
      <mat-label>Date de départ:</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateDepart" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Heure de départ:</mat-label>
      <input matInput type="time" formControlName="heureDepart" required>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field class="example-full-width">
      <mat-label>Places disponibles:</mat-label>
      <input matInput type="number" formControlName="placesDisponibles" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Nom du conducteur:</mat-label>
      <input matInput type="text" formControlName="nomConducteur" required>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field class="example-full-width">
      <mat-label>Téléphone du conducteur:</mat-label>
      <input matInput type="tel" formControlName="telephoneConducteur" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Véhicule du conducteur:</mat-label>
      <input matInput type="text" formControlName="vehiculeConducteur" required>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field class="example-full-width">
      <mat-label>Cotisation:</mat-label>
      <input matInput type="number" formControlName="prix" required>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-radio-group formControlName="bagage">
      <label>Bagage:</label>
      <mat-radio-button value="auto">Bagage léger</mat-radio-button>
      <mat-radio-button value="always">Bagage autorisé</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="form-row">
    <mat-radio-group formControlName="fumeur">
      <label>Fumeur:</label>
      <mat-radio-button value="oui">Oui</mat-radio-button>
      <mat-radio-button value="non">Non</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="form-row">
    <mat-radio-group formControlName="climatisation">
      <label>Climatisation:</label>
      <mat-radio-button value="oui">Oui</mat-radio-button>
      <mat-radio-button value="non">Non</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="form-row">
    <mat-radio-group formControlName="sexe">
      <label>Sexe:</label>
      <mat-radio-button value="homme">Homme</mat-radio-button>
      <mat-radio-button value="femme">Femme</mat-radio-button>
      <mat-radio-button value="Peu importe">Peu importe</mat-radio-button>
    </mat-radio-group>
  </div>

  <button type="submit" class="bouton-vert">
    Enregistrer
    <i class="pi pi-check"></i>
  </button>
  <button type="submit" class="bouton-rouge" routerLink="/annonces">
    Annuler
    <i class="pi pi-times"></i>
  </button>
</form>
</div>
</div>