<div class="background">
<div class="login-container">


  <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="login-form">
    <div class="card">
      <h2 class="card-header">Se connecter</h2>

      <div class="field">
        <input type="text" pInputText formControlName="email" class="input-field" name="email" placeholder="Entrer votre email" />
        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
          <div *ngIf="email.errors?.['required']">Email est obligatoire.</div>
          <div *ngIf="email.errors?.['email']">Email doit être valide.</div>
        </small>
      </div>

      <div class="field">
        <input type="password" pInputText formControlName="password" class="input-field" name="password" placeholder="Entrer votre mot de passe" />
        <small *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
          <div *ngIf="password.errors?.['required']">Mot de passe est obligatoire.</div>
        </small>
      </div>
      <div class="button-container">
      <p-button label="CONNEXION" styleClass="submit-button" [disabled]="loginForm.invalid" type="submit"></p-button>
      </div>
      <div class="register-link">Vous n'êtes pas membre? <a routerLink="/register">S'inscrire</a></div>
    </div>
  </form>
</div>
</div>
