<div class="login-container">
  <img src="./assets/login.jpg" alt="Login Image">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <p-card header="Se connecter" [style]="{ width: '400px' }">
      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          class="w-full"
          name="email"
          placeholder="Entrer votre email"
        />
        <small
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="block p-error"
        >
          <div *ngIf="email.errors?.['required']">Email est obligatoire.</div>
          <div *ngIf="email.errors?.['email']">Email doit etre valide</div>
        </small>
      </div>
      <div class="field">
        <label for="password">Mot de passe</label>
        <input
          type="password"
          pInputText
          formControlName="password"
          class="w-full"
          name="password"
          placeholder="Entrer votre mot de passe"
        />
        <small
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="block p-error"
        >
          <div *ngIf="password.errors?.['required']">Mot de passe est obligatoire.</div>
        </small>
      </div>
      <p-button label="SIGN IN" styleClass="w-full" [disabled]="loginForm.invalid" type="submit"></p-button>
      <div class="mt-2">Vous n'etes pas membre? <a routerLink="/register">S'inscrire</a></div>
    </p-card>
  </form>
</div>