.register-link {
  color: white;
}
.input-field {
  color: white;
}
.button-container {
  display: flex;
  justify-content: center;
}

.input-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.input-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.input-field::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
.card-header {
  color: white; /* Pour rendre le texte en blanc */
  text-align: center; /* Pour centrer le texte */
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 20px;
  margin-left: 20px;
}
.card {
  background-color: rgba(140, 140, 140, 0.5) !important; /* Changez la dernière valeur pour ajuster la transparence */
}

.input-field {
  background-color: rgba(154, 154, 154, 0.7) !important; /* Changez la dernière valeur pour ajuster la transparence */
}

.login-form {
  width: 400px;

}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.error-message {
  color: #ff0000;
}

.submit-button {
  width: 100%;
  margin-top: 20px;
}

.register-link {
  margin-top: 10px;
  text-align: center;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
.background {
 background-image: url('/assets/login3.jpg'); /* Remplacez le chemin par votre image d'arrière-plan */
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

