h5 {
    font-size: medium;
    font-weight: bold;
  }
  .outofstock {
    font-weight: 700;
    color: #ff5252;
    
}


.filtre {
  width : 100%;
  padding: 7px
}


  span {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.instock {
    font-weight: 700;
    color: #66bb6a;
}