.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input {
  margin-top: 5px;
}
.page-wrapper {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 100vh; /* 100% de la hauteur de la vue */
}

.form-wrapper {
  width: 500px;
}
