<p-toast></p-toast>

<div class="multi-search-bar-container">
   
      <p-dropdown [options]="cities" [(ngModel)]="searchTerm1"  class="custom-dropdown" placeholder="Départ"></p-dropdown>

      <p-dropdown [options]="cities" [(ngModel)]="searchTerm2"  class="custom-dropdown" placeholder="Destination" ></p-dropdown>
    
    <p-button label="Rechercher" [loading]="loading" (onClick)="onSearch()"></p-button>  </div>
    <div *ngIf="!showTable" class="background">
</div>
<div class="card" *ngIf="showTable">
  <p-table #dt [value]="annonces" [rows]="20" [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[5, 10, 20]" [loading]="loading" [paginator]="true"
           currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} annonces"
           [globalFilterFields]="['depart', 'destination', 'date', 'heureDepart', 'placesDisponibles']"
           [tableStyle]="{ 'min-width': '75rem'}">
      
      <ng-template pTemplate="header">
          <tr>
              <th style="width:12%">Départ</th>
              <th style="width:12%">Destination</th>
              <th style="width:12%">Date</th>
              <th style="width:12%">Heure</th>
              <th style="width:12%">Places disponibles</th>
              <th style="width:12%">Actions</th>

          </tr>
          
      </ng-template>
      <ng-template pTemplate="body" let-annonce >
          <tr>
              <td>
                  {{ annonce.depart }}
              </td>
              <td>
                  {{ annonce.destination }}
              </td>
              <td>
                  {{ annonce.date | date:'yyyy-MM-dd ' }}
                
              </td>
              <td>
                  {{ annonce.heureDepart }}
              </td>
              <td
                [ngClass]="{'outofstock': annonce.placesDisponibles === 0,'instock': annonce.placesDisponibles> 0}">
                {{annonce.placesDisponibles}}
              </td>
              <td>
                <p-button label="Réserver" severity="success" (click)="reserver(annonce)" class=""></p-button>&nbsp;&nbsp;
                <p-button label="Détails"  (onClick)="showAnnonceDetails(annonce)"></p-button>
                
                
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="5">Pas d'annonces trouvées.</td>
          </tr>
      </ng-template>
  </p-table>
</div>
<p-dialog [(visible)]="annonceDialog" header="Détails de l'annonce" [modal]="true" [style]="{ width: '600px',height:'750px' }">
  
    <ng-template pTemplate="content">
      <div *ngIf="annonceDetails">
        <p class="titre">Nom du conducteur:</p>
        <p> {{ annonceDetails.conducteur.nom }}</p>
        <p class="titre">Téléphone:</p>
        <p>{{ annonceDetails.conducteur.telephone }}</p>
        <p class="titre">Véhicule:</p>
        <p>{{ annonceDetails.conducteur.vehicule }}</p>
        <p class="titre">Prix:</p>
        <p>{{ annonceDetails.conducteur.prix }}</p>
        <p class="titre">Climatisation: </p>
        <p>{{ annonceDetails.conducteur.climatisation}}</p>
        <p class="titre">Bagage:</p>
        <p>{{ annonceDetails.conducteur.bagage }}</p>
        <p class="titre">Fumeur:</p>
        <p> {{ annonceDetails.conducteur.fumeur }}</p>
        <p class="titre">Sexe:</p>
        <p> {{ annonceDetails.conducteur.sexe}}</p>
        
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton label="Close" (click)="hideAnnonceDialog()"></button>
    </ng-template>
  </p-dialog>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
 
